@model Imc
<h1>Calcular IMC</h1><hr>
<form method="post" asp-action="Calcular" class="mt-4">
    <div class="row">
        <div class="col">
            <label asp-for="Peso" class="form-label mb-2">Peso em kg</label>
            <input asp-for="Peso" placeholder="Digite o seu peso em kg" class="form-control text-center">
            <span asp-validation-for="Peso" class="small text-danger"></span>
        </div>
        <div class="col">
            <label asp-for="Altura" class="form-label mb-2">Altura em metros</label>
            <input asp-for="Altura" placeholder="Digite o sua altura em metros" class="form-control text-center">
            <span asp-validation-for="Altura" class="small text-danger"></span>
        </div>
    </div>
    <div class="d-grid gap-2 mt-4">
        <button class="btn btn-primary">CALCULAR</button>
    </div>
</form>
@if(Model.Resultado > 0)
{
    string classificacao = "";
    if(Model.Resultado < 18.5) classificacao = "Abaixo do peso";
    else if(Model.Resultado < 25) classificacao = "Peso ideal";
    else if(Model.Resultado < 30) classificacao = "Acima do peso";
    else if(Model.Resultado < 35) classificacao = "Obesidade grau 1";
    else if(Model.Resultado < 40) classificacao = "Obesidade grau 2";
    else classificacao = "Obesidade grau 3";
    <div class="alert alert-primary mt-4">
        <b>RESULTADO: </b>@Model.Resultado.ToString("F")<br>
        <b>CLASSIFICAÇÃO: </b>@classificacao
    </div>
}