<div class="container-fluid pb-4">
    <div class="card mb-4">
        <div class="card-body">
            <h5>IMC</h5>
            <p>Calcule seu Índice de Massa Corporal (IMC) pela internet</p>
        </div>
        <div class="card-footer">
            <a asp-controller="Imc" asp-action="Index" class="link-secondary text-decoration-none">INICIAR</a>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <h5>Câmbio</h5>
            <p>Converta valores em real para as principais moedas estrangeiras</p>
        </div>
        <div class="card-footer">
            <a asp-controller="Cambio" asp-action="Index" class="link-secondary text-decoration-none">INICIAR</a>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <h5>Calculadora</h5>
            <p>Faça cálculos matemáticos com as quatro operações</p>
        </div>
        <div class="card-footer">
            <a asp-controller="Calculadora" asp-action="Index" class="link-secondary text-decoration-none">INICIAR</a>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <h5>Sessão</h5>
            <p>Experimente as funcionalidades de um carrinho de compras usando sessão</p>
        </div>
        <div class="card-footer">
            <a asp-controller="Sessao" asp-action="Index" class="link-secondary text-decoration-none">INICIAR</a>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <h5>Cookies</h5>
            <p>Experimente as funcionalidades de um carrinho de compras usando cookies</p>
        </div>
        <div class="card-footer">
            <a asp-controller="Cookies" asp-action="Index" class="link-secondary text-decoration-none">INICIAR</a>
        </div>
    </div>
</div>
